<div class="card text-white bg-info mb-3 text-dark" >
  <div class="card-header">
    
  </div>
  <div class="card-body text-dark ">
    <h5 class="card-title">Metodo de pago por  Tarjeta</h5>
    <h5 class="card-title">Comunicarse con un Administrador </h5>
    <p class="card-text">cell- (961)193-97-75</p>
    <p class="card-text">email- fabi1314515@hotmail.com</p>
    <p class="card-text">1AV norte Berriozabal Chiapas, Mexico</p>
    <a href="avisoPrivacidad" class="bg-secondary text-white">Aviso de  Privacidad</a>
  </div>
</div>