<div class="card w-75">
    <div class="card-body">
        <h1 class="card-title">AVISO DE PRIVACIDAD</h1>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true">Ubicacion</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false">¿Para qué fines utilizaremos sus datos
                        personales?
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">¿Qué datos personales utilizaremos para
                        estos fines?</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">¿Con quién compartimos su información
                        personal y para qué fines?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings1"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede acceder,
                        rectificar o cancelar sus datos personales, u
                        oponerse a su uso?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings2"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede revocar su
                        consentimiento para el uso de sus datos
                        personales?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings3"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">El uso de tecnologías de
                        rastreo en nuestro portal de Internet
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings4"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede conocer los
                        cambios a este aviso de privacidad?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings5"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">Versión.</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">C. Fabian Gonzalez Alvarez, con domicilio en 1avenida norte entre 6 y 7 poniente, #680,
                                                    san Marcos, Berriozábal, Chiapas, México código postal 29130, 
                                                    es el responsable del uso y protección de sus datos personales, 
                                                    y al respecto le informamos lo siguiente: </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <p>
                            Los datos personales que recabamos de usted, los utilizaremos para las siguientes
                            finalidades que son necesarias para el servicio que solicita:
                        </p>
                        <a><i>● Comprar algun producto de nuestra tienda.</i></a><br>
                        <a><i>● Notificacion por correo Electronico. </i></a><br>
                        <a><i>● Proporcionar informacion para crear su cuenta o su perfil (comporador vendedor). </i></a><br>
                  
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad,
                            utilizaremos los siguientes datos personales: </p>
                        <a><i>(1) Datos de identificación. </i></a><br>
                        <a><i>(2) nombre completo. </i></a><br><br>
                        <a><i>(3) correo electronico. </i></a><br><br>
                        <a><i>(4) direccion. </i></a><br><br>
                        <a><i>(5) codigo postal. </i></a><br><br>
                        <a><i>(5) municipio. </i></a><br><br>
                        <a><i>(5) colina. </i></a><br><br>
                        <a><i>(5) estado. </i></a><br><br>
                 
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>Le informamos que sus datos personales son compartidos dentro y fuera del país
                            con las siguientes personas, empresas, organizaciones y autoridades distintas a
                            nosotros, para los siguientes fines: </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">num</th>
                                    <th scope="col">Destinatario de los datos
                                        personales</th>
                                    <th scope="col">País
                                        (opcional)</th>
                                    <th scope="col">Finalidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Envios.</td>
                                    <td>Nacional</td>
                                    <td>Con la finalidad de compartir los datos con 
                                        Correos de Mexico para facilitar el envio.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Autoridades gubernamentales. </td>
                                    <td>Nacionales.</td>
                                    <td>Para cualquier
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table> <br>
                     

                    </div>
                    <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>
                            Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué
                            los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su 
                            erecho solicitar la corrección de su información personal en caso de que esté
                            desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de 
                            nuestros registros o bases de datos cuando considere que la misma no está siendo 
                            utilizada conforme a los principios, deberes y obligaciones previstas en la normativa 
                            (Cancelación); así como oponerse al uso de sus datos personales para fines específicos
                            (Oposición). Estos derechos se conocen como derechos ARCO.

                        </p><br>
                        <p>
                            Para el ejercicio de cualquiera de los derechos ARCO,  si desea acceso a sus datos 
                            personales puede enviar un correo electrónico a soporte@hamacas.com.mx  con los 
                            siguientes datos  nombre completo, correo electrónico, una copia de identificación 
                            oficial  INE especificando que tipo de derecho ARCO a ejercer (acceso, rectificación, 
                            cancelación, Oposición).Si envía los datos incompletos  su solicitud será revocada. 
                            La respuesta Hamacas.com hará valido el derecho correspondiente dentro de 15 días hábiles. 
                            la solicitud deberá ser echa desde el correo electrónico asociado.

                        </p><br>
                        <p>
                            Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, 
                            usted podrá ponerse en contacto con nuestro Departamento de Privacidad, que dará 
                            trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier 
                            duda que pudiera tener respecto al tratamiento de su información. Los datos 
                            de contacto del Departamento de Privacidad son los siguientes: soporte técnico,  
                            soporte@hamacas.com.mx 
                        </p><br>
                     
                        
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>
                            Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el 
                            tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta 
                            que no en todos los casos podremos atender su solicitud o concluir el uso de forma 
                            inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando 
                            sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, 
                            la revocación de su consentimiento implicará que no le podamos seguir prestando el 
                            servicio que nos solicitó, o la conclusión de su relación con nosotros.
                        </p>
                        <p>
                            Para revocar su consentimiento deberá presentar su solicitud. Enviando un correo 
                            electrónico para solicitar información al respecto soporte@hamacas.com.mx . para 
                            verificar su identidad, la solicitud deberá ser echa desde el correo electrónico 
                            asociado.
                        </p>
                    
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings3" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y
                            otras tecnologías a través de las cuales es posible monitorear su comportamiento
                            como usuario de Internet, así como brindarle un mejor servicio y experiencia de
                            usuario al navegar en nuestra página. Los datos personales que obtenemos de estas
                            tecnologías de rastreo son los
                            siguientes: </p>
                        <a><i>● Su dirección IP.</i></a><br>
                        <a><i>● Información del tipo de explorador que utiliza.</i></a><br>
                        <p>
                            Mismos que utilizamos para:
                        </p>
                        <a><i>● Hacerle llegar información relacionada a nuestras promociones.</i></a><br>
                        <a><i>● Enviar información a su correo electrónico relacionado a nuestros destinos
                                actuales y nuevos destinos.</i></a><br><br>
                        <p>
                            Asimismo, le informamos que estos datos serán para uso exclusivo de AeroRoque,
                            por lo tanto dichos datos no serán compartidos con sujetos de transferencias
                            nacionales o internacionales.
                        </p>
                        <p>Estas tecnologías usted podrá deshabilitarlas en cualquier momento.</p>
                        <p>Para mayor información sobre el uso de estas tecnologías, puede consultar nuestra
                            política de cookies ubicada en nuestro sitio web: aeroroque.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings4" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o
                            actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias
                            necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de
                            privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
                        </p>
                        <p>
                            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el
                            presente aviso de privacidad, a través de Correo electronico
                        </p>

                        <p>
                            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre 
                            cambios o actualizaciones al presente aviso de privacidad es el siguiente:  
                            se le notificará con 30 días hábiles de anticipación y se le hará llegar un 
                            correo con las políticas nuevas para que pueda estar informado.
                        </p>
                       
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings5" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab"> 
                        <h3>Última actualización [20/noviembre/2020].</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
